:root {
    /* Light Mode Colors */
    --color-background: #FCF8DA;
    --color-primary: #EDBA40; /* Orange-jaune clair */
    --color-secondary: #E28C33; /* Orange */
    --color-accent: #E0652B; /* Orange un peu rouge */
    --color-text: #260E03; /* Noir foncé pour le texte */

    --color1: #E0652B;
    --color2: #E28C33;
    --color3: #EDBA40;
  
    /* Other Variables */
    --transition-duration: 0.3s;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  /* -------------------------------------------------- LOADER */
  #loader_div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh; /* Utilise toute la hauteur de la fenêtre */
  }

  .loader {
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: inline-block;
    color: var(--color-accent);
    letter-spacing: 2px;
    position: relative;
    box-sizing: border-box;
  }

  .cat_paw {
      width: calc(6 * 30px);
      height: 50px;
      display: flex;
      color: var(--color-accent);
      filter: drop-shadow(30px 25px 0 currentColor) drop-shadow(60px 0 0 currentColor) drop-shadow(120px 0 0 currentColor);
      clip-path: inset(0 100% 0 0);
      animation: l12 2s infinite steps(7);
      
      /* Positionnement en bas à droite */
      position: fixed;
      bottom: 0;
      right: 0;
      margin: 1rem; /* Optionnel : espace par rapport au bord */
  }
  .cat_paw:before {
      content: "";
      width: 30px;
      height: 25px;
      --c: no-repeat radial-gradient(farthest-side, currentColor 92%, #0000);
      background: 
          var(--c) left / 70% 70%,
          var(--c) right / 20% 20%,
          var(--c) top 0 right 15% / 20% 20%,
          var(--c) bottom 0 right 15% / 20% 20%;
  }

  @keyframes l12 {
      100% { clip-path: inset(0 -30px 0 0); }
  }

  #catgif{
      background-color: var(--color-primary);
      border-radius: 50% ;
  }

/* ------------------------------FIN LOADER--------------------------*/

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: Arial, sans-serif;
    color: var(--color-text);
    background-color: var(--color-background);
    overflow-x: hidden;
  }

  /* -------------------------------------------------------------- HEADER */
  header {
    width: 100%;
    height: 100vh;
    position: relative;
  }

  header video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* --------------------------------------- Vidéos */
  .video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  .video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* Style du menu burger */
  .menu-burger {
    width: 50px;
    height: 50px;
    background-color: var(--color-primary);
    color: var(--color-text);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    margin-right: 10px; /* Ajout d'espace entre le burger et le bouton */
  }

  /* Conteneur pour le menu burger et le bouton de changement de thème */
  .nav-container {
    display: flex;
    justify-content: flex-start; /* Aligner les éléments à gauche */
    align-items: center;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 20;
    width: auto; /* Ajuste la largeur pour s'adapter à son contenu */
    padding: 0 20px; /* Espacement intérieur */
  }

  /* Assurez-vous que le menu déroulant suive correctement le défilement */
  #nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px; /* Position sous le menu burger */
    left: 20px;
    background-color: var(--color-secondary);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
  }

  /* Afficher le menu lorsque la classe 'show' est active */
  #nav-links.show {
    display: flex;
  }

  /* Ajustement des liens dans le menu */
  #nav-links li {
    margin: 0.5rem 0;
  }

  /* Positionnement du logo au quart de la largeur de l'écran */
  #logo {
    opacity: 0; /* Le logo est caché au départ */
    transition: opacity 1s ease; /* Ajout d'une transition pour le fondu */
  }

  /* Effet de fondu pour faire apparaître le logo */
  #logo.show {
    opacity: 1; /* Afficher le logo en fondu */
  }

  /* Sections */
  section {
    width: 100%;
    padding: 2rem;
    text-align: center;
    border-bottom: 1px solid var(--border-color);
  }

  /* ---------------------------------------- WAVES BORDER ------------------------------------------------------------------------------- */

  @keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
  }
  .waveWrapper {
      overflow: hidden;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      margin: auto;
  }
  .waveWrapperInner {
      position: absolute;
      width: 100%;
      overflow: hidden;
      height: 100%;
      bottom: -1px;
  }
  .bgTop {
      z-index: 15;
      opacity: 0.5;
  }
  .bgMiddle {
      z-index: 10;
      opacity: 0.75;
  }
  .bgBottom {
      z-index: 5;
  }
  .wave {
      position: absolute;
      left: 0;
      width: 200%;
      height: 100%;
      background-repeat: repeat no-repeat;
      background-position: 0 bottom;
      transform-origin: center bottom;
  }
  .waveTop {
      background-size: 50% 100px;
  }
  .waveAnimation .waveTop {
    animation: move-wave 3s;
    -webkit-animation: move-wave 3s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
  }
  .waveMiddle {
      background-size: 50% 120px;
  }
  .waveAnimation .waveMiddle {
      animation: move_wave 10s linear infinite;
  }
  .waveBottom {
      background-size: 50% 100px;
  }
  .waveAnimation .waveBottom {
      animation: move_wave 15s linear infinite;
  }

  /* ---------------------------------------- PRESENTATION ------------------------------------------------------------------------------- */

  #presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(11,134,180);
    background: linear-gradient(180deg, rgba(11,134,180,1) 0%, rgba(11,134,180,1) 50%, rgba(57,180,226,1) 92%, var(--color-primary) 100%);
    color: var(--color-background);
    padding: 40px 10rem;
    margin: auto;
  }

  .wavy {
    margin: 15px 0;
    text-align: center;
    border: none;
  }
  
  .wavy:before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: var(--color-accent);
    margin: 0 0.4em;
  }
  
  .wavy:after {
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: var(--color-accent);
    margin: 0 0.4em;
  }
   

  /* Titre bien positionné */
  #presentation h2 {
      text-align: center;
      font-size: 28px;
      font-weight: bold;
  }

  /* Conteneur pour image + texte */
  .presentation-content {
      display: flex;
      align-items: center;
      gap: 30px;
      width: 100%;
  }

  /* Image bien dimensionnée */
  #presentation #photo {
      max-width: 350px;
      height: auto;
      border-radius: 10px;
      box-shadow: 5px 5px 15px rgba(90, 236, 255, 0.2);
  }

  /* Texte principal */
  .presentation-text {
      flex: 1;
  }

  /* Sous-titre */
  .presentation-text h3 {
    text-align: left;
      font-size: 22px;
      font-weight: bold;
      margin-bottom: 2rem;
      color: var(--color-primary);
      text-shadow: 1px 1px 0px var(--color-accent);
  }

  /* Infos personnelles en deux colonnes */
  .presentation-info {
      display: flex;
      justify-content: space-between;
      width: 66%;
      margin:15px auto auto;
  }

  .presentation-info ul {
      list-style: none;
      padding: 0;
  }

  .presentation-info li {
      text-align: left;
      margin-bottom: 8px;
      font-size: 16px;
  }

  .presentation-info strong {
      color: var(--color-primary);
      text-shadow: 1px 1px 0px var(--seed_color);
  }

  /* Texte global */
  .presentation-text p {
      text-align: justify;
      font-size: 16px;
      line-height: 1.5;
  }

  /* Responsive Design */
  @media (max-width: 768px) {
      .presentation-content {
          flex-direction: column;
          text-align: center;
      }

      #presentation #photo {
          margin-bottom: 20px;
      }

      .presentation-info {
          flex-direction: column;
          align-items: center;
      }
  }

  /*-----------------------------------------------------INTERETS---------------------------------------------*/

  .interets {
    text-align: center;
    padding: -10px auto 20px;
    width: max-content;
  }

  .interets h3{
    margin: -10px auto 20px;
  }

  .grid-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 15px;
      justify-content: center;
      max-width: 800px;
      margin: auto;
  }

  .grid-item {
      background: rgba(255, 255, 255, 0.1); /* Fond transparent */
      border: 1px solid rgba(255, 255, 255, 0.3);
      padding: 20px;
      border-radius: 8px;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;
  }

  .grid-item:hover {
    background: rgba(255, 166, 0, 0.178);
    border: 1px solid var(--color-primary);
  }

  .grid-item i {
      font-size: 20px;
      opacity: 0.7;
  }

  .interets img{
    max-width: 150px;
  }

  .interets img:first-of-type{
    float: left;
    transform: scale(1, -1);
  }

  .interets img:nth-of-type(2){
    float: right;
  }

  /*--------CV-------------*/

  #cv{
    margin-top:50px;
  }

  #cv a{
    padding:15px;
    margin-top:25px;
    background-color:var(--color-secondary);
    border : solid 2px var(--color-secondary);
    border-radius : 20px;
    text-decoration: none;
    color : white;
    transition:1s;
  }

  #cv a:hover{
    background-color:var(--color-primary);
    color : rgb(11 108 145);
    border : solid 2px rgb(11 108 145);
  }

  /* ---------------------------------------- COMPETENCES + SKILLS ------------------------------------------------------------------------------- */

  #competences {
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top:0px;
    padding-bottom: 2rem;
    position: relative;
  }

  #competences p{
    text-align:justify;
    margin-bottom:10px;
  }

  #competences p span{
    background-color : white;
  }

  .filter-btn {
    cursor: pointer;
    border: none;
    background: var(--color-accent);
    color: var(--color-background);
    border-radius: 20px;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    position: relative;
    overflow: hidden;
  }

  .filter-btn:hover {
      color: var(--color-text); 
  }

  .filter-btn:focus{
    background-color: var(--color-primary);
    color: var(--color-text);
  }
  
  #competences h2{
    width: 100%;
    text-align: center;
  }

  #skill-commentary{
    position: absolute;
    background: #fff;
    padding: 20px 25px;
    border-radius: 50%;
    font-size: 1rem;
    border: solid 2px var(--color-accent);
    position: absolute;
    bottom: 15%;
    right: 15%;
  }

  .skill_character{
    position: relative;
    margin: auto -25px auto 25px;
    max-width: 18rem;
  }

  .dark-img{
    display: none;
  }
  
  .light-img{
    display: block;
  }

  /*--------------------------SKILLS---------------------------------------------*/
  :root {
    --container_color: #ffc878;
    --container_color2: #f8ba70;
    --container_color3: #eba867;
    --text_color: #331f28;
    --text_shadow: #ce9c5f;
    --fruit_color: #ff1493;
    --flower_color: #f354eb;
    --goods_color: #048d66;
    --seed_color: #ca6410;
    --cooking_color: #266e14;
    --fish_color: #0621b8;
    --wearable_color: #000;
    --gradient-bg: linear-gradient(180deg, var(--container_color) 0%, var(--container_color2) 50%, var(--container_color3) 100%); 
  }
  @font-face {
    font-family: svFont;
    src: url(https://assets.codepen.io/7237686/rainyhearts.woff) format("woff");
  }
  @font-face {
    font-family: pixelFont;
    src: url(https://assets.codepen.io/7237686//pixelFont.woff) format("woff");
  }
  .disabled img {
    pointer-events: none;
  }
  ::-webkit-scrollbar {
    width: 0.6rem;
    background: #db7812;
  }
  ::-webkit-scrollbar-thumb {
    background: #ad520b;
  }
  .skills {
    width: 100%;
    max-width: 60rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  @media (max-width: 65rem) {
    .skills {
        flex-direction: row;
    }
  }
  .skills__content {
    font-family: svFont;
    width: 100%;
    background: var(--gradient-bg);
    border-radius: 28px;
  }
  .skills__content__inventory, .skills__content__info {
    border-style: solid;
    border-width: 20px;
    border-image-slice: 24 22;
    border-image-repeat: round;
    border-radius: 20px;
  }
  @media (max-width: 65rem) {
    .skills__content__inventory, .skills__content__info {
        overflow: auto;
    }
  }
  .skills__content__inventory .items__container, .skills__content__info .items__container, .skills__content__inventory .items__container--disabled, .skills__content__info .items__container--disabled {
    border-style: solid;
    border-width: 20px;
    border-image-slice: 24 22;
    border-image-repeat: round;
    border-radius: 20px;
    border-image-source: url("https://assets.codepen.io/7237686/itemsborder.png");
    width: 74px;
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  @media (max-width: 1560px) {
    .skills__content__inventory .items__container, .skills__content__info .items__container, .skills__content__inventory .items__container--disabled, .skills__content__info .items__container--disabled {
        width: 64px;
        height: 64px;
    }
  }
  .skills__content__inventory .items__container .items__number, .skills__content__info .items__container .items__number, .skills__content__inventory .items__container--disabled .items__number, .skills__content__info .items__container--disabled .items__number {
    font-size: 0.9rem;
    position: absolute;
    top: -35px;
    left: 40%;
    font-weight: 500;
    color: #696969;
    font-family: pixelFont;
  }
  .skills__content__inventory .items__container .items__number--first, .skills__content__info .items__container .items__number--first, .skills__content__inventory .items__container--disabled .items__number--first, .skills__content__info .items__container--disabled .items__number--first {
    color: #f00;
  }
  .skills__content__inventory .items__container .item__container .item__img, .skills__content__info .items__container .item__container .item__img, .skills__content__inventory .items__container--disabled .item__container .item__img, .skills__content__info .items__container--disabled .item__container .item__img {
    height: 70px;
    width: 70px;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    transition: 0.2s all;
  }
  @media (max-width: 1560px) {
    .skills__content__inventory .items__container .item__container .item__img, .skills__content__info .items__container .item__container .item__img, .skills__content__inventory .items__container--disabled .item__container .item__img, .skills__content__info .items__container--disabled .item__container .item__img {
        height: 64px;
        width: 64px;
    }
  }
  .skills__content__inventory .items__container .item__container .item__img:hover, .skills__content__info .items__container .item__container .item__img:hover, .skills__content__inventory .items__container--disabled .item__container .item__img:hover, .skills__content__info .items__container--disabled .item__container .item__img:hover {
    transform: scale(1.06);
  }
  .skills__content__inventory .items__container .item__container .item__img--small, .skills__content__info .items__container .item__container .item__img--small, .skills__content__inventory .items__container--disabled .item__container .item__img--small, .skills__content__info .items__container--disabled .item__container .item__img--small {
    height: 40px;
    width: 40px;
  }
  .skills__content__inventory .items__container .item__container .item__quantity, .skills__content__info .items__container .item__container .item__quantity, .skills__content__inventory .items__container--disabled .item__container .item__quantity, .skills__content__info .items__container--disabled .item__container .item__quantity {
    color: #fff;
    position: absolute;
    bottom: -70%;
    right: -60%;
    font-size: 1.3rem;
    letter-spacing: 2px;
    text-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000;
    font-family: pixelFont;
  }
  @media (max-width: 1560px) {
    .skills__content__inventory .items__container .item__container .item__quantity, .skills__content__info .items__container .item__container .item__quantity, .skills__content__inventory .items__container--disabled .item__container .item__quantity, .skills__content__info .items__container--disabled .item__container .item__quantity {
        bottom: -100%;
        right: -90%;
    }
  }
  .skills__content__inventory .items__container .item__container .item__quality, .skills__content__info .items__container .item__container .item__quality, .skills__content__inventory .items__container--disabled .item__container .item__quality, .skills__content__info .items__container--disabled .item__container .item__quality {
    position: absolute;
    left: -60%;
    bottom: -70%;
  }
  @media (max-width: 1560px) {
    .skills__content__inventory .items__container .item__container .item__quality, .skills__content__info .items__container .item__container .item__quality, .skills__content__inventory .items__container--disabled .item__container .item__quality, .skills__content__info .items__container--disabled .item__container .item__quality {
        bottom: -100%;
        left: -90%;
    }
  }
  .skills__content__inventory .items__container .item__container .item__quality img, .skills__content__info .items__container .item__container .item__quality img, .skills__content__inventory .items__container--disabled .item__container .item__quality img, .skills__content__info .items__container--disabled .item__container .item__quality img {
    height: 1.5625rem;
  }
  .skills__content__inventory .items__container .item__container .item__tooltip, .skills__content__info .items__container .item__container .item__tooltip, .skills__content__inventory .items__container--disabled .item__container .item__tooltip, .skills__content__info .items__container--disabled .item__container .item__tooltip {
    display: none;
    position: absolute;
    left: 3.125rem;
    top: 0;
    z-index: 89999;
    min-width: 22rem;
    border-radius: 1.125rem;
    filter: drop-shadow(-0.6rem 0.6rem rgba(0, 0, 0, 0.3));
    color: #212;
    background-color: var(--container_color);
  }
  @media (max-width: 1560px) {
    .skills__content__inventory .items__container .item__container .item__tooltip, .skills__content__info .items__container .item__container .item__tooltip, .skills__content__inventory .items__container--disabled .item__container .item__tooltip, .skills__content__info .items__container--disabled .item__container .item__tooltip {
        min-width: 18rem;
    }
  }
  .skills__content__inventory .items__container .item__container .item__tooltip .item__tooltip__title, .skills__content__info .items__container .item__container .item__tooltip .item__tooltip__title, .skills__content__inventory .items__container--disabled .item__container .item__tooltip .item__tooltip__title, .skills__content__info .items__container--disabled .item__container .item__tooltip .item__tooltip__title {
    border-style: solid;
    border-width: 20px;
    border-image-slice: 24 22;
    border-image-repeat: round;
    border-radius: 20px;
    border-image-source: url("https://assets.codepen.io/7237686/tooltipbordertop.png");
    text-shadow: var(--text_shadow) -2px 1px;
    white-space: nowrap;
  }
  .skills__content__inventory .items__container .item__container .item__tooltip .item__tooltip__title h2, .skills__content__info .items__container .item__container .item__tooltip .item__tooltip__title h2, .skills__content__inventory .items__container--disabled .item__container .item__tooltip .item__tooltip__title h2, .skills__content__info .items__container--disabled .item__container .item__tooltip .item__tooltip__title h2 {
    font-size: 3rem;
  }
  .skills__content__inventory .items__container .item__container .item__tooltip .item__tooltip__title .item__tooltip__category, .skills__content__info .items__container .item__container .item__tooltip .item__tooltip__title .item__tooltip__category, .skills__content__inventory .items__container--disabled .item__container .item__tooltip .item__tooltip__title .item__tooltip__category, .skills__content__info .items__container--disabled .item__container .item__tooltip .item__tooltip__title .item__tooltip__category {
    font-size: 2.5rem;
    text-shadow: var(--text_shadow) 2px 1px;
  }
  .skills__content__inventory .items__container .item__container .item__tooltip .item__tooltip__title .item__tooltip__category--tool, .skills__content__info .items__container .item__container .item__tooltip .item__tooltip__title .item__tooltip__category--tool, .skills__content__inventory .items__container--disabled .item__container .item__tooltip .item__tooltip__title .item__tooltip__category--tool, .skills__content__info .items__container--disabled .item__container .item__tooltip .item__tooltip__title .item__tooltip__category--tool {
    color: var(--tool_color);
  }
  .skills__content__inventory .items__container .item__container .item__tooltip .item__tooltip__title .item__tooltip__category--fruit, .skills__content__info .items__container .item__container .item__tooltip .item__tooltip__title .item__tooltip__category--fruit, .skills__content__inventory .items__container--disabled .item__container .item__tooltip .item__tooltip__title .item__tooltip__category--fruit, .skills__content__info .items__container--disabled .item__container .item__tooltip .item__tooltip__title .item__tooltip__category--fruit {
    color: var(--fruit_color);
  }
  .skills__content__inventory .items__container .item__container .item__tooltip .item__tooltip__title .item__tooltip__category--vegetable, .skills__content__info .items__container .item__container .item__tooltip .item__tooltip__title .item__tooltip__category--vegetable, .skills__content__inventory .items__container--disabled .item__container .item__tooltip .item__tooltip__title .item__tooltip__category--vegetable, .skills__content__info .items__container--disabled .item__container .item__tooltip .item__tooltip__title .item__tooltip__category--vegetable {
    color: var(--vegetable_color);
  }
  .skills__content__inventory .items__container .item__container .item__tooltip .item__tooltip__title .item__tooltip__category--flower, .skills__content__info .items__container .item__container .item__tooltip .item__tooltip__title .item__tooltip__category--flower, .skills__content__inventory .items__container--disabled .item__container .item__tooltip .item__tooltip__title .item__tooltip__category--flower, .skills__content__info .items__container--disabled .item__container .item__tooltip .item__tooltip__title .item__tooltip__category--flower {
    color: var(--flower_color);
  }
  .skills__content__inventory .items__container .item__container .item__tooltip .item__tooltip__title .item__tooltip__category--goods, .skills__content__info .items__container .item__container .item__tooltip .item__tooltip__title .item__tooltip__category--goods, .skills__content__inventory .items__container--disabled .item__container .item__tooltip .item__tooltip__title .item__tooltip__category--goods, .skills__content__info .items__container--disabled .item__container .item__tooltip .item__tooltip__title .item__tooltip__category--goods {
    color: var(--goods_color);
  }
  .skills__content__inventory .items__container .item__container .item__tooltip .item__tooltip__title .item__tooltip__category--seed, .skills__content__info .items__container .item__container .item__tooltip .item__tooltip__title .item__tooltip__category--seed, .skills__content__inventory .items__container--disabled .item__container .item__tooltip .item__tooltip__title .item__tooltip__category--seed, .skills__content__info .items__container--disabled .item__container .item__tooltip .item__tooltip__title .item__tooltip__category--seed {
    color: var(--seed_color);
  }
  .skills__content__inventory .items__container .item__container .item__tooltip .item__tooltip__title .item__tooltip__category--mineral, .skills__content__info .items__container .item__container .item__tooltip .item__tooltip__title .item__tooltip__category--mineral, .skills__content__inventory .items__container--disabled .item__container .item__tooltip .item__tooltip__title .item__tooltip__category--mineral, .skills__content__info .items__container--disabled .item__container .item__tooltip .item__tooltip__title .item__tooltip__category--mineral {
    color: var(--mineral_color);
  }
  .skills__content__inventory .items__container .item__container .item__tooltip .item__tooltip__title .item__tooltip__category--resource, .skills__content__info .items__container .item__container .item__tooltip .item__tooltip__title .item__tooltip__category--resource, .skills__content__inventory .items__container--disabled .item__container .item__tooltip .item__tooltip__title .item__tooltip__category--resource, .skills__content__info .items__container--disabled .item__container .item__tooltip .item__tooltip__title .item__tooltip__category--resource {
    color: var(--resource_color);
  }
  .skills__content__inventory .items__container .item__container .item__tooltip .item__tooltip__title .item__tooltip__category--cooking, .skills__content__info .items__container .item__container .item__tooltip .item__tooltip__title .item__tooltip__category--cooking, .skills__content__inventory .items__container--disabled .item__container .item__tooltip .item__tooltip__title .item__tooltip__category--cooking, .skills__content__info .items__container--disabled .item__container .item__tooltip .item__tooltip__title .item__tooltip__category--cooking {
    color: var(--cooking_color);
  }
  .skills__content__inventory .items__container .item__container .item__tooltip .item__tooltip__title .item__tooltip__category--crafting, .skills__content__info .items__container .item__container .item__tooltip .item__tooltip__title .item__tooltip__category--crafting, .skills__content__inventory .items__container--disabled .item__container .item__tooltip .item__tooltip__title .item__tooltip__category--crafting, .skills__content__info .items__container--disabled .item__container .item__tooltip .item__tooltip__title .item__tooltip__category--crafting {
    color: var(--crafting_color);
  }
  .skills__content__inventory .items__container .item__container .item__tooltip .item__tooltip__title .item__tooltip__category--decoration, .skills__content__info .items__container .item__container .item__tooltip .item__tooltip__title .item__tooltip__category--decoration, .skills__content__inventory .items__container--disabled .item__container .item__tooltip .item__tooltip__title .item__tooltip__category--decoration, .skills__content__info .items__container--disabled .item__container .item__tooltip .item__tooltip__title .item__tooltip__category--decoration {
    color: var(--decoration_color);
  }
  .skills__content__inventory .items__container .item__container .item__tooltip .item__tooltip__title .item__tooltip__category--fish, .skills__content__info .items__container .item__container .item__tooltip .item__tooltip__title .item__tooltip__category--fish, .skills__content__inventory .items__container--disabled .item__container .item__tooltip .item__tooltip__title .item__tooltip__category--fish, .skills__content__info .items__container--disabled .item__container .item__tooltip .item__tooltip__title .item__tooltip__category--fish {
    color: var(--fish_color);
  }
  .skills__content__inventory .items__container .item__container .item__tooltip .item__tooltip__title .item__tooltip__category--wearable, .skills__content__info .items__container .item__container .item__tooltip .item__tooltip__title .item__tooltip__category--wearable, .skills__content__inventory .items__container--disabled .item__container .item__tooltip .item__tooltip__title .item__tooltip__category--wearable, .skills__content__info .items__container--disabled .item__container .item__tooltip .item__tooltip__title .item__tooltip__category--wearable {
    color: var(--wearable_color);
  }
  .skills__content__inventory .items__container .item__container .item__tooltip .item__tooltip__info, .skills__content__info .items__container .item__container .item__tooltip .item__tooltip__info, .skills__content__inventory .items__container--disabled .item__container .item__tooltip .item__tooltip__info, .skills__content__info .items__container--disabled .item__container .item__tooltip .item__tooltip__info {
    border-style: solid;
    border-width: 20px;
    border-image-slice: 24 22;
    border-image-repeat: round;
    border-radius: 20px;
    border-image-source: url("https://assets.codepen.io/7237686/tooltipborderbottom.png");
    font-size: 2rem;
    text-shadow: var(--text_shadow) -2px 1px;
  }
  .skills__content__inventory .items__container .item__container .item__tooltip .item__tooltip__info ul, .skills__content__info .items__container .item__container .item__tooltip .item__tooltip__info ul, .skills__content__inventory .items__container--disabled .item__container .item__tooltip .item__tooltip__info ul, .skills__content__info .items__container--disabled .item__container .item__tooltip .item__tooltip__info ul {
    margin-bottom: 1.25rem;
    list-style: none;
    margin-top: 10px;
  }
  .skills__content__inventory .items__container .item__container .item__tooltip .item__tooltip__info ul li, .skills__content__info .items__container .item__container .item__tooltip .item__tooltip__info ul li, .skills__content__inventory .items__container--disabled .item__container .item__tooltip .item__tooltip__info ul li, .skills__content__info .items__container--disabled .item__container .item__tooltip .item__tooltip__info ul li {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .skills__content__inventory .items__container .item__container .item__tooltip .item__tooltip__info ul li img, .skills__content__info .items__container .item__container .item__tooltip .item__tooltip__info ul li img, .skills__content__inventory .items__container--disabled .item__container .item__tooltip .item__tooltip__info ul li img, .skills__content__info .items__container--disabled .item__container .item__tooltip .item__tooltip__info ul li img {
    height: 40px;
  }
  .skills__content__inventory .items__container .item__container:hover .item__tooltip, .skills__content__info .items__container .item__container:hover .item__tooltip, .skills__content__inventory .items__container--disabled .item__container:hover .item__tooltip, .skills__content__info .items__container--disabled .item__container:hover .item__tooltip {
    display: block;
  }
  @media (max-width: 46.875rem) {
    .skills__content__inventory .items__container .item__container:hover .item__tooltip, .skills__content__info .items__container .item__container:hover .item__tooltip, .skills__content__inventory .items__container--disabled .item__container:hover .item__tooltip, .skills__content__info .items__container--disabled .item__container:hover .item__tooltip {
        display: none;
    }
  }
  .skills__content__inventory .items__container .item__container:active .item__tooltip, .skills__content__info .items__container .item__container:active .item__tooltip, .skills__content__inventory .items__container--disabled .item__container:active .item__tooltip, .skills__content__info .items__container--disabled .item__container:active .item__tooltip {
    display: none;
  }
  .skills__content__inventory {
    border-image-source: url("../img/illus/inventory-border.png");
    /* border-image-source: url("https://assets.codepen.io/7237686/borderbottom.png");
    */      
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .skills__content__inventory .inventory--rows {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    row-gap: 0.3125rem;
  }

  /* ---------------------------------------- LIGHT DARK --------------------------------------------- */

  .icons-container {
    display: flex;
    gap: 2rem;
    position: relative;
  }

  .icon {
    width: 60px;
    height: 60px;
    background-color: var(--color-accent);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text);
    font-size: 1.5rem;
    position: relative;
  }

  /* Traits de connexion en CSS */
  .icon::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 2px;
    background: var(--color-text);
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
  }
  .icon:last-child::before {
    display: none;
  }

  #portfolio {
    background: url('../img/tree-light.png'); 
    background-repeat: no-repeat;
    background-size: cover; /* Ajuste l'image pour couvrir tout l'écran */
    background-position: center; /* Centre l'image */
    padding: 10px 0;
  }

  /* Style du bouton de changement de thème */
  #theme {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0; /* Pas de padding car on utilise l'icône */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Style de l'icône du bouton de changement de thème */
  #theme svg {
    width: 24px;
    height: 24px;
    fill: var(--color-text); /* Utiliser la couleur du texte pour l'icône */
  }

  /* Enlevez les bordures sur hover */
  #theme:hover svg {
    fill: var(--color-secondary); /* Changer la couleur de l'icône au survol */
  }

  /* Footer */
  footer {
    width: 100%;
    text-align: center;
    background: var(--color-secondary);
    color: var(--color-text);
  }

  /* <!-- --------------------------------  CARD  ------------------------------------------------------------------- --> */

  .card {
    width: 71.5vw;
    height: 100vw;
    
    position: relative;
    overflow: hidden;
    margin: 20px;
    overflow: hidden;
    z-index: 10;
    touch-action: none;
    
    border-radius: 5% / 3.5%;
    box-shadow: 
      -5px -5px 5px -5px var(--color1), 
      5px 5px 5px -5px var(--color2), 
      -7px -7px 10px -5px transparent, 
      7px 7px 10px -5px transparent;
    
    transition: transform 0.5s ease, box-shadow 0.2s ease;
    will-change: transform, filter;
    
    background-color: #260E03;
    background-image: var(--front);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transform-origin: center;

    color: var(--color-background);
    flex-shrink: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

    @media screen and (min-width: 600px) {
      width: clamp(12.9vw, 61vh, 18vw);
      height: clamp(18vw, 85vh, 25.2vw);
    }
    
  }

  .card[style*="display: none"] {
    opacity: 0;
    transform: scale(0.9);
  }
  
  .card:hover {
    box-shadow: 
      -20px -20px 30px -25px var(--color1), 
      20px 20px 30px -25px var(--color2), 
      -7px -7px 10px -5px var(--color1), 
      7px 7px 10px -5px var(--color2);
  }
  
  .card:before,
  .card:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-repeat: no-repeat;
    opacity: .5;
    mix-blend-mode: color-dodge;
    transition: all .33s ease;
  }
  
  .card:before {
    background-position: 50% 50%;
    background-size: 300% 300%;
    background-image: linear-gradient(
      115deg,
      transparent 0%,
      var(--color1) 25%,
      transparent 47%,
      transparent 53%,
      var(--color2) 75%,
      transparent 100%
    );
    opacity: .5;
    filter: brightness(.5) contrast(1);
    z-index: 1;
  }
  
  .card:after {
    opacity: 1;
    background-image: url("https://assets.codepen.io/13471/sparkles.gif"), 
      url(https://assets.codepen.io/13471/holo.png), 
      linear-gradient(125deg, #ff008450 15%, #fca40040 30%, #ffff0030 40%, #00ff8a20 60%, #00cfff40 70%, #cc4cfa50 85%);
    background-position: 50% 50%;
    background-size: 160%;
    background-blend-mode: overlay;
    z-index: 2;
    filter: brightness(1) contrast(1);
    transition: all .33s ease;
    mix-blend-mode: color-dodge;
    opacity: .75;
  }
  
  .card.active:after,
  .card:hover:after {
    filter: brightness(1) contrast(1);;
    opacity: 1;
  }
  
  .card.active,
  .card:hover {
    animation: none;
    transition: box-shadow 0.1s ease-out;
  }
  
  .card.active:before,
  .card:hover:before {
    animation: none;
    background-image: linear-gradient(
      110deg,
      transparent 25%,
      var(--color1) 48%,
      var(--color2) 52%,
      transparent 75%
    );
    background-position: 50% 50%;
    background-size: 250% 250%;
    opacity: .88;
    filter: brightness(.66) contrast(1.33);
    transition: none;
  }
  
  .card.active:before,
  .card:hover:before,
  .card.active:after,
  .card:hover:after {
    animation: none;
    transition: none;
  }
  
  .card.animated {
    transition: none;
    animation: holoCard 12s ease 0s 1;
    &:before { 
      transition: none;
      animation: holoGradient 12s ease 0s 1;
    }
    &:after {
      transition: none;
      animation: holoSparkle 12s ease 0s 1;
    }
  }  
  
  @keyframes holoSparkle {
    0%, 100% {
      opacity: .75; background-position: 50% 50%; filter: brightness(1.2) contrast(1.25);
    }
    5%, 8% {
      opacity: 1; background-position: 40% 40%; filter: brightness(.8) contrast(1.2);
    }
    13%, 16% {
      opacity: .5; background-position: 50% 50%; filter: brightness(1.2) contrast(.8);
    }
    35%, 38% {
      opacity: 1; background-position: 60% 60%; filter: brightness(1) contrast(1);
    }
    55% {
      opacity: .33; background-position: 45% 45%; filter: brightness(1.2) contrast(1.25);
    }
  }
  
  @keyframes holoGradient {
    0%, 100% {
      opacity: 0.5;
      background-position: 50% 50%;
      filter: brightness(.5) contrast(1);
    }
    5%, 9% {
      background-position: 100% 100%;
      opacity: 1;
      filter: brightness(.75) contrast(1.25);
    }
    13%, 17% {
      background-position: 0% 0%;
      opacity: .88;
    }
    35%, 39% {
      background-position: 100% 100%;
      opacity: 1;
      filter: brightness(.5) contrast(1);
    }
    55% {
      background-position: 0% 0%;
      opacity: 1;
      filter: brightness(.75) contrast(1.25);
    }
  }
  
  @keyframes holoCard {
    0%, 100% {
        transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
    }
    33%, 37% {
        transform: rotateZ(1.5deg) rotateX(2deg) rotateY(2deg);
    }
    66%, 70% {
        transform: rotateZ(-1.5deg) rotateX(-2deg) rotateY(-2deg);
    }
  }
  
  .cards { 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    perspective: 2000px;
    position: relative;
    z-index: 1;
    transform: translate3d(0.1px, 0.1px, 0.1px );

    gap: 20px;
    width: max-content;
  }
  
  .cards .card {
    &:nth-child(2) {
      &, &:before, &:after {
        animation-delay: 0.25s;
      }
    }
    &:nth-child(3) {
      &, &:before, &:after {
        animation-delay: 0.5s;
      }
    }
    &:nth-child(4) {
      &, &:before, &:after {
        animation-delay: 0.75s;
      }
    }
  }

  .cards-wrapper {
    display: flex;
    overflow-x: hidden; /* Cache les clones pour l'effet infini */
    white-space: nowrap;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    cursor: grab;
    position: relative;
}

.img-fluid {
    max-width: 90%;
    border: solid 2px var(--color-accent);
    border-radius: 15px;
    margin: 15px auto;
}

  /* ----------------------------------------------------------------PROJETS---------------------------------------------------------------------- */

.projects-section {
    display: flex;
    padding:0;
    width: 100%;
    min-height: 22rem;
    position: relative; /* Pour superposer le background */
    background: var(--color-secondary);
    overflow: hidden;
}

/* Section de sélection */
.project-selection {
    width: 25%;
    background: linear-gradient(to right, rgba(210, 80, 0, 0.8), rgba(210, 80, 0, 0)); 
    color: var(--color-background);
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centre verticalement */
    align-items: center;
    padding: 50px 0;
    position: relative;
    z-index: 2; /* Pour être au-dessus du fond */
}

.project-tab {
    padding: 15px;
    text-align: center;
    cursor: pointer;
    transition: background 0.3s;
    border-radius : 10px;
    width: 80%;
}

.project-tab:hover {
    background: var(--color-accent);
}

.project-tab.active {
    background: var(--color-primary);
    color : var(--color-text);
}

/* Séparateurs verticaux */
.separator {
    width: 2px; /* Largeur du trait vertical */
    height: 30px; /* Hauteur du trait */
    background-color: rgba(255, 255, 255, 0.5); /* Légèrement transparent */
    margin: 10px 0; /* Espacement entre les onglets */
}

/* Contenu du projet */
.project-content {
    flex: 1;
    padding: 20px;
    position: relative;
    z-index: 1;
}

/* Appliquer un background dynamique */
.project-details {
    display: none; /* Caché par défaut */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    color: var(--color-text);
    padding: 50px;
    transition: opacity 0.5s ease-in-out;
}

.project-details.active {
    display: block;
    opacity: 1;
}

/* Galerie d'images */
.gallery {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.gallery img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    transition: transform 0.3s;
}

.gallery img:hover {
    transform: scale(1.1);
}

/* Cacher les projets non actifs */
.hidden {
    display: none;
}

/* Animation d'apparition */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

  /* ----------------------------------------------------------------CONTACT---------------------------------------------------------------------- */

  #contact {
    width: 100%;
    height: 100%;
    background-color: var(--color-secondary);
  }
  
  .section-header {
    text-align: center;
    margin: 0 auto;
    padding: 40px 0;
    color: var(--color-background);
    text-transform: uppercase;
    letter-spacing: 6px;
  }
  
  .contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    max-width: 840px;
  }
  
  /* Left contact page */
  .form-horizontal {
    max-width: 400px;
    font-weight: 400;
  }
  
  .form-control {
    max-width: 400px;
    background-color: var(--color-text);
    color: var(--color-background);
  }

  .form-group{
    max-width: 400px;
    min-width: 350px;
    margin: 5px;
  }

  .form-group div input, .form-control{
    max-width: 400px;
    min-width: 350px;
    border: none;
    border-radius: 10px;
    padding: 0.5rem;
  }
  
  #submit {
    margin: 10px auto auto auto;
    text-align: center;
    position: relative;
    padding: 10px 25px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    border-radius: 15px;
    border: 2px solid var(--color-background);
    background: var(--color-accent);
    color: var(--color-background);
    cursor: pointer;
    outline: none;
    transition: 200ms;
  }

  #submit:hover{
    color: var(--color-text);
    border-color: var(--color-text);
    background-color: var(--color-primary);
  }
  
  #send-icon {
    position: absolute;
    color: transparent; /* To hide the check icon */
    transition: 200ms;
  }

  #submit:focus {
    color: transparent;
    outline: none;
    border: 2px solid transparent;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 25px 25px;
    border-left: 2px solid var(--color-background);
    animation: spin 2s 500ms forwards;
  }

  #submit:focus i {
    animation: check 300ms 2300ms forwards;
  }
  
  @keyframes check {
    to {
      color: var(--color-background);
    }
  }
  
  /* Begin Right Contact Page */
  .direct-contact-container {
    max-width: 400px;
  }
  
  /* Location, Phone, Email Section */
  .contact-list {
    list-style-type: none;
    margin-left: -30px;
    padding-right: 20px;
  }
  
  .list-item {
    line-height: 4;
    color: var(--color-background);
  }
  
  .contact-text {
    letter-spacing: 1.9px;
    color: var(--color-text);
  }
  
  .place {
    margin-left: 35px;
  }
  
  .phone {
    margin-left: 30px;
  }
  
  .gmail {
    margin-left: 25px;
  }

  .gmail:hover {
    margin-left: 25px;
    -webkit-text-stroke: 0.2px var(--color-background);
  }
  
  .contact-text a {
    color: var(--color-text);
    text-decoration: none;
    transition-duration: 0.2s;
  }
  
  .contact-text a:hover {
    color: var(--color-background);
    text-decoration: none;
  }
  
  
  /* Social Media Icons */
  .social-media-list {
    position: relative;
    font-size: 22px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  
  .social-media-list li a {
    color: var(--color-primary);
  }
  
  .social-media-list li {
    position: relative; 
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 10px 3px;
    line-height: 60px;
    border-radius: 50%;
    color: var(--color-primary);
    background-color: var(--color-text);
    cursor: pointer; 
    transition: all .2s ease-in-out;
  }
  
  .social-media-list li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px var(--color-primary);
    transition: all .2s ease-in-out;
  }
  
  .social-media-list li:hover {
    background-color: var(--color-background); 
  }
  
  .social-media-list li:hover:after {
    opacity: 1;  
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
  }
  
  .social-media-list li:hover a {
    color: var(--color-text);
  }
  
  .copyright {
    color: var(--color-secondary);
    letter-spacing: 1px;
    text-align: center;
  }
  
  hr .contact-hr{
    border: solid 1px var(--color-primary);
  }
  
  /* Begin Media Queries*/
  @media screen and (max-width: 850px) {
    .contact-wrapper {
      display: flex;
      flex-direction: column;
    }
    .direct-contact-container, .form-horizontal {
      margin: 0 auto;
    }  
    
    .direct-contact-container {
      margin-top: 60px;
      max-width: 300px;
    }    
    .social-media-list li {
      height: 60px;
      width: 60px;
      line-height: 60px;
    }
    .social-media-list li:after {
      width: 60px;
      height: 60px;
      line-height: 60px;
    }
  }
  
  @media screen and (max-width: 569px) {
  
    .direct-contact-container, .form-wrapper {
      float: none;
      margin: 0 auto;
    }  
    .form-control, textarea {
      
      margin: 0 auto;
    }
   
    
    .name, .email, textarea {
      width: 280px;
    } 
    
    .direct-contact-container {
      margin-top: 60px;
      max-width: 280px;
    }  
    .social-media-list {
      left: 0;
    }
    .social-media-list li {
      height: 55px;
      width: 55px;
      line-height: 55px;
      font-size: 2rem;
    }
    .social-media-list li:after {
      width: 55px;
      height: 55px;
      line-height: 55px;
    }
    
  }
  
  @media screen and (max-width: 410px) {
    .send-button {
      width: 99%;
    }
  }


