:root {
    /* Light Mode Colors */
    --color-background: white;
    --color-primary: #EDBA40; /* Orange-jaune clair */
    --color-secondary: #E28C33; /* Orange */
    --color-accent: #E0652B; /* Orange un peu rouge */
    --color-text: #260E03; /* Noir foncé pour le texte */
  
    /* Dark Mode Colors */
    --color-background-dark: #030725; /* Bleu très foncé */
    --color-primary-dark: #E9B5EF; /* Rose pastel */
    --color-secondary-dark: #a885e1; /* Violet clair */
    --color-accent-dark: #9BA5F6; /* Bleu ciel */
    --color-text-dark: white; /* Blanc pour le texte */
  
    /* Other Variables */
    --transition-duration: 0.3s;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  body {
    background-color: var(--color-background);
    color: var(--color-text);
    transition: background-color var(--transition-duration), color var(--transition-duration);
  }
  
  .dark-theme {
    background-color: var(--color-background-dark);
    color: var(--color-text-dark);
  }
  
  /* Card styles */
  .card {
    background-color: var(--color-primary);
    transition: transform var(--transition-duration), box-shadow var(--transition-duration);
  }
  
  /* Hover effects */
  .card:hover {
    transform: translateY(-10px);
    box-shadow: var(--box-shadow);
  }
  
  /* Skills tree */
  .skill-icon {
    opacity: 0.2;
    transition: opacity var(--transition-duration);
  }
  
  .skill-icon.highlighted {
    opacity: 1;
  }
  
  /* Puff effect */
  .puff {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    animation: puff 1s ease-out forwards;
  }
  
  @keyframes puff {
    0% { transform: scale(0.5); opacity: 1; }
    100% { transform: scale(2); opacity: 0; }
  }
  
  /* Additional styles for the dark theme */
  .dark-theme .card {
    background-color: var(--color-secondary-dark);
  }
  
  .dark-theme .skill-icon {
    opacity: 0.2; /* Default opacity for icons in dark theme */
  }
  
  /* Adjustments for tooltip, quickbar, etc. can also be included here */
  .tooltip {
    position: absolute;
    background: var(--color-background);
    color: var(--color-text);
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
  }
  