:root {
    /* Light Mode Colors */
    --color-background: #FCF8DA;
    --color-primary: #EDBA40; /* Orange-jaune clair */
    --color-secondary: #E28C33; /* Orange */
    --color-accent: #E0652B; /* Orange un peu rouge */
    --color-text: #260E03; /* Noir foncé pour le texte */
  
    /* Other Variables */
    --transition-duration: 0.3s;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  /* -------------------------------------------------- LOADER */
  #loader_div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh; /* Utilise toute la hauteur de la fenêtre */
  }

  .loader {
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: inline-block;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--color-accent);
    color: var(--color-accent);
    letter-spacing: 2px;
    position: relative;
    box-sizing: border-box;
  }

  .loader::after {
  content: 'Chargement...';
  position: absolute;
  left: 0;
  top: 0;
  color: var(--color-background);
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  transition: width 0.2s ease;
  }

  .cat_paw {
      width: calc(6 * 30px);
      height: 50px;
      display: flex;
      color: var(--color-accent);
      filter: drop-shadow(30px 25px 0 currentColor) drop-shadow(60px 0 0 currentColor) drop-shadow(120px 0 0 currentColor);
      clip-path: inset(0 100% 0 0);
      animation: l12 2s infinite steps(7);
      
      /* Positionnement en bas à droite */
      position: fixed;
      bottom: 0;
      right: 0;
      margin: 1rem; /* Optionnel : espace par rapport au bord */
  }
  .cat_paw:before {
      content: "";
      width: 30px;
      height: 25px;
      --c: no-repeat radial-gradient(farthest-side, currentColor 92%, #0000);
      background: 
          var(--c) left / 70% 70%,
          var(--c) right / 20% 20%,
          var(--c) top 0 right 15% / 20% 20%,
          var(--c) bottom 0 right 15% / 20% 20%;
  }

  @keyframes l12 {
      100% { clip-path: inset(0 -30px 0 0); }
  }

  #catgif{
      background-color: var(--color-primary);
      border-radius: 150px ;
  }

/* ------------------------------FIN LOADER--------------------------*/

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: Arial, sans-serif;
    color: var(--color-text);
    background-color: var(--color-background);
    overflow-x: hidden;
  }

  /* -------------------------------------------------------------- HEADER */
  header {
    width: 100%;
    height: 100vh;
    position: relative;
  }

  header video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* --------------------------------------- Vidéos */
  .video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  .video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* Style du menu burger */
  .menu-burger {
    width: 50px;
    height: 50px;
    background-color: var(--color-primary);
    color: var(--color-text);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    margin-right: 10px; /* Ajout d'espace entre le burger et le bouton */
  }

  /* Conteneur pour le menu burger et le bouton de changement de thème */
  .nav-container {
    display: flex;
    justify-content: flex-start; /* Aligner les éléments à gauche */
    align-items: center;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 20;
    width: auto; /* Ajuste la largeur pour s'adapter à son contenu */
    padding: 0 20px; /* Espacement intérieur */
  }

  /* Assurez-vous que le menu déroulant suive correctement le défilement */
  #nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px; /* Position sous le menu burger */
    left: 20px;
    background-color: var(--color-secondary);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
  }

  /* Afficher le menu lorsque la classe 'show' est active */
  #nav-links.show {
    display: flex;
  }

  /* Ajustement des liens dans le menu */
  #nav-links li {
    margin: 0.5rem 0;
  }

  /* Positionnement du logo au quart de la largeur de l'écran */
  #logo {
    opacity: 0; /* Le logo est caché au départ */
    transition: opacity 1s ease; /* Ajout d'une transition pour le fondu */
  }

  /* Effet de fondu pour faire apparaître le logo */
  #logo.show {
    opacity: 1; /* Afficher le logo en fondu */
  }

  /* Sections */
  section {
    width: 100%;
    padding: 2rem;
    text-align: center;
    border-bottom: 1px solid var(--border-color);
  }

  #presentation {
    background: var(--color-primary);
  }

  #competence {
    background: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
    position: relative;
  }

  .icons-container {
    display: flex;
    gap: 2rem;
    position: relative;
  }

  .icon {
    width: 60px;
    height: 60px;
    background-color: var(--color-accent);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text);
    font-size: 1.5rem;
    position: relative;
  }

  /* Traits de connexion en CSS */
  .icon::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 2px;
    background: var(--color-text);
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
  }
  .icon:last-child::before {
    display: none;
  }

  #portfolio {
    background: var(--color-primary);
  }

  #projet {
    background: var(--color-primary);
  }

  /* Section Contact avec formulaire */
  #contact {
    background: var(--color-primary);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #contact form {
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  /* Style du bouton de changement de thème */
  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0; /* Pas de padding car on utilise l'icône */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Style de l'icône du bouton de changement de thème */
  button svg {
    width: 24px;
    height: 24px;
    fill: var(--color-text); /* Utiliser la couleur du texte pour l'icône */
  }

  /* Enlevez les bordures sur hover */
  button:hover svg {
    fill: var(--color-secondary); /* Changer la couleur de l'icône au survol */
  }

  #contact input, #contact textarea, #contact button {
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }

  #contact button {
    background-color: var(--color-secondary);
    color: var(--color-text);
    cursor: pointer;
  }

  #contact button:hover {
    background-color: var(--color-accent);
  }

  /* Footer */
  footer {
    width: 100%;
    padding: 1rem;
    text-align: center;
    background: var(--color-secondary);
    color: var(--color-text);
  }